<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="https://via.placeholder.com/30x30">
                Food Fare
            </a>
        </div>

        <!-- Home button is right in the middle? -->
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul> -->

        <div class="pull-right">
            <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
        </div>
    </div>
</nav>
