<!-- views/partials/navbar.handlebars -->


<nav class="navbar navbar-default navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/spoon_fork_nice_rounded.png" style="margin-right:5px" width="45" height="45">
                Food Fare
            </a>
        </div>

        <!-- Home button is right in the middle? -->
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul> -->

        <div class="pull-right">
            <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
        </div>
    </div>
</nav>
