<!-- views/partials/posts-form.handlebars -->

<fieldset>
    
    <legend>Edit Post</legend>

    <!-- TITLE -->
    <p>
        <label for="title">Title</label><br>
        <input type="text" name="title" />
    </p>

    <!-- FOOD TITLE -->
    <p>
        <label for="foodTitle">Food Title</label><br>
        <input type="text" name="foodTitle" />
    </p>

    <!-- DESCRIPTION -->
    <p>
        <label for="description">Description</label><br>
        <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>

    <!-- NUMBER -->
    <p>
        <label for="number">Number</label><br>
        <input type="text" name="number" />
    </p>

    <!-- CONTACT INFO -->
    <p>
        <lable for="contactInfo">Contact Information</label><br>
        <input type="text" name="contactInfo" />
    </p>

</fieldset>
