<!-- views/layouts/main.handlebars -->

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Food Fare</title>
    <!-- got it from this link: http://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    {{> navbar}}
    <div class="container">
        <style>
        body {
            height: 50px;
            background-color: mistyrose;
        }
        </style>
    </div>
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
