<div class="jumbotron text-center mt-3">
  <h1><a href="/posts/new">Create a New Post!</a></h1>
  <p>Buy and sell local homemade food from friends</p>
  <style>
      .jumbotron{
      background-color: white;
      }
  </style>
</div>

<div class="row">
    {{#each posts}}
    <div class="col-sm-4 mt-3 mb-3">
        <div class="card" style="width: 20rem;">
            <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
            <img class="card-img-top" src={{this.imageUrl}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.foodTitle}}</p>
                <a href="/posts/{{this._id}}" class="btn btn-primary">View post</a>
            </div>
        </div>

    </div>
    {{/each}}
</div>
